<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
<%- include('partials/headerNoLogeado') %>
	<!-- /Header -->

	<!-- Banner -->
	<div class="banner">
		<img src="/images/homeBanner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for( let i=0; i <products.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/id/<%= products[i].id %>">
							<article class="product-box_data">
								<h2><%= products[i].nombre %></h2>
								<p><%= products[i].descripcion %></p>
								<img src="<%= products[i].img %>" alt="imagen ">
							</article>
						</a>
					</section>
				</div>
				<% } %>


		</div>
	</div>


	<!-- footer -->
<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>