<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>


	<body>
		<!-- Header -->
		<% if (logueado) { %>
			<%- include('partials/headerLogeado') %>

		<% } else { %>
			<%- include('partials/headerNoLogeado') %>

		<% } %>
		<!-- /Header -->


			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title">
						<%= product.nombre%>
					</h2>
				</div>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="<%= product.img %>" alt="" class="product-detail-img">
							<p class="product-detail-description">
								<%= product.descripcion %>
							</p>
						</article>

						<div class="col-12 col-lg-4">
							<section class="comments">
								<% if (product.comentarios.length> 0) { %>
									<% for (let i=0; i < product.comentarios.length; i++) { %>
										<article>
											<img src="/images/users/<%= product.comentarios[i].imagen %>" alt="">

											<div class="data">
												<p class="user">
													<strong> <a href="/users/profile">
															<%= product.comentarios[i].usuario %>:
														</a> </strong>
													<%= product.comentarios[i].texto %>
												</p>
											</div>

										</article>
										<% } %>

											<% } else { %>
												<p>No hay comentarios todavía</p>
												<% } %>

							</section>
							<form class="form" action="" method="GET">
								<input class="form-input" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<hr>
						</div>
					</div>
				</div>
			</div>
			<!-- /product detail -->

			<!-- footer -->
			<%- include('partials/footer') %>
				<!-- /footer -->

	</body>

</html>